{% extends "layout.html" %}

{% block body %}
<section class="card mx-auto" style="width:500px;max-width:100%;">
	<h4 class="card-header text-center">Changer mot de passe</h4>
	<form method="POST">
		{% csrf_token%}
		<div class="card-body row">
			{% for field in form %}
				{% if not field.is_hidden %}
				<div class="form-group col-sm-12">
					{{field.label_tag}}
					{{field}}
					<small class="alert-danger">{{field.errors}}</small>
				</div>
				{% else %}
					{{field}}
				{% endif %}
			{% endfor %}

			<div class="form-group col-md-12">
				<button type="submit" class="btn btn-primary btn-block">Changer</button>
			</div>
		</div>
	</form>
</section>
{% endblock %}
