{% extends "layout.html" %}

{% block body %}
<section class="mx-auto mt-5" style="width:500px;max-width:100%;">
	<form method="POST">{% csrf_token%}
		<div class="cad-title">
		<h4 class="text-center">Reinitialisation mot de passe</h4>
		<small class="alert-success text-center">{{ message }}</small>
		</div>
		<div class="row">
			<div class="form-group col-sm-12">
				<label for="id_email">Adresse email</label>
				<input type="email" name="email" id="id_email" class="form-control"  maxlength="254" required >
			</div>
			<div class="form-group col-sm-12">
				<button type="submit" class="btn btn-primary btn-block" >Reinitialiser</button>
			</div>
		</div>
	</form>
</section>
{% endblock %}
