<!-- Profile Modal -->
<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="profileModalLabel">Profil utilisateur <small class=""></small></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/accounts/profile?next=">
			{% csrf_token%}
			<div class="row">
				<div class="form-group col-12">
					<label for="username" class="">Nom utilisateur</label>
					<input type="text" name="username" id="username" value="{{user.username}}" class="form-control" disabled />
				</div>
				<div class="form-group col-12">
					<label for="email" class="">Adresse email</label>
					<input type="text" name="email" id="email" value="{{user.email}}" class="form-control" disabled />
				</div>
				<div class="form-group col-12">
					<label for="firstname" class="">Prenoms</label>
					<input type="text" name="firstname" id="firstname" value="{{user.first_name}}" class="form-control"  placeholder="non defini" readonly="readonly" onfocus="this.removeAttribute('readonly');" />
				</div>
				<div class="form-group col-12">
					<label for="lastname" class="">Nom de famille</label>
					<input type="text" name="lastname" id="lastname" value="{{user.last_name}}" class="form-control" placeholder="non defini" readonly="readonly" onfocus="this.removeAttribute('readonly');" />
				</div>
				<div class="form-group col-12">
					<label for="permissions" class="">Permissions</label>
					<input type="text" name="permissions" id="permissions" value="{{user.get_group_permissions}}" class="form-control" placeholder="non defini"  disabled />
				</div>
			</div>
        </form>
      </div>
      <div class="modal-footer">
		<small class=""></small>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="updateProfileBtn" disabled>Mettre a jour</button>
      </div>
    </div>
  </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function(){
	$('#profileModal').on('show.bs.modal', function (event) {
		var modal = $(this)
		// set defaults on showing
		modal.find('.modal-body input').attr('readonly','readonly')
		modal.find('.modal-title small').text('')
		// Enable update button on inputs change
		modal.find('.modal-body input').on('change',function(){
			event.preventDefault();
			modal.find('.modal-footer button').removeAttr('disabled');
			});
		var updateBtn = modal.find('.modal-footer #updateProfileBtn');
		updateBtn.on('click',function(e){
			e.preventDefault();
			csrf_token = modal.find('.modal-body input:first').val()
			firstname = modal.find('.modal-body #firstname').val()
			lastname = modal.find('.modal-body #lastname').val()
			//alert('Names: '+firstname+' '+lastname+'\n'+'desc:'+csrf_token.prop('name')+' val: '+csrf_token.val());
			$.post("/accounts/profile",
				{
					csrfmiddlewaretoken: csrf_token,
					firstname: firstname,
					lastname: lastname
				},
				function(data,status){
					if(status == 'success'){
						modal.find('.modal-title small').text(data.message)
						modal.find('.modal-title small').prop('class','alert-info')
						modal.find('.modal-body input').attr('readonly','readonly')
					}
					else{
						modal.find('.modal-title small').text('Une erreur est survenue!')
						modal.find('.modal-title small').prop('class','alert-danger')
					}
					}
			);
			});
		});
});
</script>
