{% extends "layout.html" %}

{% block body %}
<section>
	<h3 class="text-center">Inscription</h3>
	<form method="POST" >
		{% csrf_token%}
		<div class="row mx-auto" style="width:500px; max-width:100%">
		{% for field in form %}
			<div class="form-group col-sm-12">
				{{field.label_tag}}
				{{field}}
				<small class="alert-danger">{{field.errors}}</small>
			</div>
		{% endfor %}
		<div class="form-group col-sm-12">
			<button type="submit" class="btn btn-primary btn-block">Inscription</button>
		</div>
		</div>
	</form>
</section>
{% endblock %}
