{% extends "layout.html" %}

{% block body %}
<section>
	<h4 class="text-center" >{{ page_title }}</h4>
	<div class="text-center">
		<form method="get">
			<select name="periode" id="periode">
				<option value="last_year" {% if periode == 'last_year'%} selected {% endif %}>Last Year</option>
				<option value="q1" {% if periode == 'q1'%} selected {% endif %}>Quarter 1</option>
				<option value="q2" {% if periode == 'q2'%} selected {% endif %}>Quarter 2</option>
				<option value="q3" {% if periode == 'q3'%} selected {% endif %}>Quarter 3</option>
				<option value="q4" {% if periode == 'q4'%} selected {% endif %}>Quarter 4</option>
			</select>
		</form>
	</div>
	<div class="row">
		<div class="col-md-4">
		<!-- DONUT CHART -->
			<div class="card">
				<div class="card-title">
					<h3 class="text-center">Internet status</h3>
				</div>
				<div class="card-body p-1">
					<canvas id="areaChartInt" style="height:250px"></canvas>
				</div>
			</div>
		</div>
		<!-- DONUT CHART -->
		<div class="col-md-4">
		<!-- DONUT CHART -->
			<div class="card">
				<div class="card-title">
					<h3 class="text-center">Isante status</h3>
				</div>
				<div class="card-body p-1">
					<canvas id="areaChartIsante" style="height:250px"></canvas>
				</div>
			</div>
		</div>
		<!-- DONUT CHART -->
		<div class="col-md-4">
		<!-- DONUT CHART -->
			<div class="card">
				<div class="card-title">
					<h3 class="text-center">Fingerprint status</h3>
				</div>
				<div class="card-body p-1">
					<canvas id="areaChartFing" style="height:250px"></canvas>
				</div>
			</div>
		</div>
		<!-- DONUT CHART -->
	</div>
	<div class="table-responsive">
		<table class="table table-hover">
			<th>Evenement</th><th>Date</th><th>Date rapportee</th><th>Date inseree</th><th>Utilisateur</th>
			{% if page_obj %}
				{% for event in page_obj %}
				<tr><td class="{{ event.status_ev }}">{{ event.entite_concerne }} {{ event.status_ev }}</td><td>{{ event.date_ev }}</td><td>{{ event.date_rap }}</td><td>{{ event.date_entree }}</td><td>{{ event.nom_utilisateur }}</td></tr>
				{% empty %}
				<h5>Nothing to show !</h5>
				{% endfor %}
			{% endif %}
		</table>
	</div>
	<div>{% include "_paginationhelpers.html" %}</div>
</section>
<!-- ChartJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function(){
	
    var areaChartOptions = {
      //Boolean - If we should show the scale at all
      showScale               : true,
      //Boolean - Whether grid lines are shown across the chart
      scaleShowGridLines      : false,
      //String - Colour of the grid lines
      scaleGridLineColor      : 'rgba(0,0,0,.05)',
      //Number - Width of the grid lines
      scaleGridLineWidth      : 1,
      //Boolean - Whether to show horizontal lines (except X axis)
      scaleShowHorizontalLines: true,
      //Boolean - Whether to show vertical lines (except Y axis)
      scaleShowVerticalLines  : true,
      //Boolean - Whether the line is curved between points
      bezierCurve             : true,
      //Number - Tension of the bezier curve between points
      bezierCurveTension      : 0.3,
      //Boolean - Whether to show a dot for each point
      pointDot                : false,
      //Number - Radius of each point dot in pixels
      pointDotRadius          : 4,
      //Number - Pixel width of point dot stroke
      pointDotStrokeWidth     : 1,
      //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
      pointHitDetectionRadius : 20,
      //Boolean - Whether to show a stroke for datasets
      datasetStroke           : true,
      //Number - Pixel width of dataset stroke
      datasetStrokeWidth      : 2,
      //Boolean - Whether to fill the dataset with a color
      datasetFill             : true,
      //String - A legend template
      legendTemplate          : '',
      //Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
      maintainAspectRatio     : true,
      //Boolean - whether to make the chart responsive to window resizing
      responsive              : true
    }

		//-------------
    //- AREA CHART - Internet
    //-------------
    var src_internet = JSON.parse('{{internet_data|safe}}')
    var internet_status_data = {
      labels  : src_internet.labels,
      datasets:[{
	  label               : 'Status Up',
	  backgroundColor     : '#008000',
	  borderColor         : '#008000',
	  hoverBackgroundColor: '#3b8bba',
	  pointBorderColor    : 'rgba(60,141,188,1)',
	  pointHoverBackground  : '#fff',
	  pointHoverBorderColor: 'rgba(60,141,188,1)',
	  fill				  : false,
	  data                : src_internet.up.data
	},{
	  label               : 'Status Down',
	  backgroundColor     : '#FF0000',
	  borderColor         : '#FF0000',
	  hoverBackgroundColor: '#3b8bba',
	  pointBorderColor    : 'rgba(60,141,188,1)',
	  pointHoverBackground  : '#fff',
	  pointHoverBorderColor: 'rgba(60,141,188,1)',
	  fill				  : false,
	  data                : src_internet.down.data
	}]
	}
    var ctx = new Chart(document.getElementById("areaChartInt"), {
	type:'line',
	data:internet_status_data,
	options:areaChartOptions
	});
		//-------------
    //- AREA CHART - Isante
    //-------------
    var src_isante = JSON.parse('{{isante_data|safe}}')
    var isante_status_data = {
      labels  : src_internet.labels,
      datasets:[{
	  label               : 'Status Up',
	  backgroundColor     : '#008000',
	  borderColor         : '#008000',
	  hoverBackgroundColor: '#3b8bba',
	  pointBorderColor    : 'rgba(60,141,188,1)',
	  pointHoverBackground  : '#fff',
	  pointHoverBorderColor: 'rgba(60,141,188,1)',
	  fill				  : false,
	  data                : src_isante.up.data
	},{
	  label               : 'Status Down',
	  backgroundColor     : '#FF0000',
	  borderColor         : '#FF0000',
	  hoverBackgroundColor: '#3b8bba',
	  pointBorderColor    : 'rgba(60,141,188,1)',
	  pointHoverBackground  : '#fff',
	  pointHoverBorderColor: 'rgba(60,141,188,1)',
	  fill				  : false,
	  data                : src_isante.down.data
	}]
	}
    var ctx = new Chart(document.getElementById("areaChartIsante"), {
	type:'line',
	data: isante_status_data,
	options:areaChartOptions
	});
		//-------------
    //- AREA CHART - Fingerprint
    //-------------
    var src_fingerprint = JSON.parse('{{fingerprint_data|safe}}')
    var fingerprint_status_data = {
      labels  : src_internet.labels,
      datasets:[{
	  label               : 'Status Up',
	  backgroundColor     : '#008000',
	  borderColor         : '#008000',
	  hoverBackgroundColor: '#3b8bba',
	  pointBorderColor    : 'rgba(60,141,188,1)',
	  pointHoverBackground  : '#fff',
	  pointHoverBorderColor: 'rgba(60,141,188,1)',
	  fill				  : false,
	  data                : src_fingerprint.up.data
	},{
	  label               : 'Status Down',
	  backgroundColor     : '#FF0000',
	  borderColor         : '#FF0000',
	  hoverBackgroundColor: '#3b8bba',
	  pointBorderColor    : 'rgba(60,141,188,1)',
	  pointHoverBackground  : '#fff',
	  pointHoverBorderColor: 'rgba(60,141,188,1)',
	  fill				  : false,
	  data                : src_fingerprint.down.data
	}]
	}
    var ctx = new Chart(document.getElementById("areaChartFing"), {
	type:'line',
	data: fingerprint_status_data,
	options:areaChartOptions
	});
	
	document.getElementById("periode").onchange= function(){
		var current_url= window.location.origin+window.location.pathname;
		var val= this.value;
		window.location.replace(current_url+'?periode='+val);
		}
	});
</script>
{% endblock %}
